* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana;
}

footer {
  background: #57575b;
  padding: 50px 10px;
  .footer-box {
    text-align: center;
    margin-bottom: 10px;
    &:nth-child(2) {
      margin-top: 30px;
      h2 {
        display: none;
      }
    }
    &:nth-child(3) {
      margin-bottom: 30px;
      h2 {
        display: none;
      }
    }
    h2 {
      color: #fff;
      font-size: 20px;
      margin-bottom: 20px;
    }
    .wrapper {
      p {
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      li {
        list-style-type: none;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          color: rgba(255, 255, 255, 0.5);
          text-decoration: none;
        }
      }
    }
    .icons {
      width: 100px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        width: 20px;
        height: 20px;
      }
    }
    & > p {
      color: #fff;
      font-size: 15px;
      margin-bottom: 10px;
    }
    button {
      display: block;
      //   position: relative;
      //   left: 50%;
      //   transform: translateX(-50%);
      margin-left: auto;
      margin-right: auto;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      margin-bottom: 10px;
      background: #fff;
    }
  }
}

@media screen and (min-width: 500px) {
  footer {
    .footer-boxes {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      row-gap: 20px;
      max-width: 630px;
      margin-left: auto;
      margin-right: auto;
    }

    .footer-box {
      &:nth-child(2) {
        margin-top: 0;
        h2 {
          display: block;
        }
      }
      &:nth-child(3) {
        margin-bottom: 0;
        h2 {
          display: block;
        }
      }
      &:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  footer {
    .footer-boxes {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      max-width: 1000px;
      .footer-box {
        text-align: left;
        &:last-child {
          .icons,
          button {
            margin-left: 0;
          }
        }
      }
    }
  }
}
